
<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="" href="/">Upload Excel</a>
        </li>
        <li class="mobile-nav__item">
            <a class="" href="/users/list">Users</a>
        </li>
        <li class="mobile-nav__item">
            <a class="" href="/files/list">Files</a>
        </li>
    </ul>
  </nav>
  